<div class="container">
  <h2>Gerenciador de Arquivos</h2>
  
  <div class="tree-controls">
    <button (click)="addNodeRoot('folder')"><i class="fa-solid fa-folder-plus"></i> Nova Pasta Raiz</button>
    <button (click)="addNodeRoot('file')"><i class="fa-solid fa-plus"></i> Novo Arquivo Raiz</button>
  </div>

  <div 
    id="treeview" 
    (dragover)="onRootDragOver($event)" 
    (dragleave)="onRootDragLeave($event)" 
    (drop)="onRootDrop($event)"
    [class.drag-root-over]="isRootDragOver">
    
    <ng-container *ngTemplateOutlet="treeNodeTemplate; context: { $implicit: treeData() }"></ng-container>
  </div>

  <div class="actions">
    <button id="btnExportarTodos" class="btn" (click)="exportarArvore(false)">Exportar Todos</button>
    <button id="btnExportar" class="btn" (click)="exportarArvore(true)">Exportar Selecionados</button>
  </div>
</div>

<app-modal></app-modal>

<ng-template #treeNodeTemplate let-nodes>
  @for (node of nodes; track node.id) {
    <div class="tree-node">
      <div 
        class="node-content"
        [class.drag-over]="draggedOverNodeId === node.id"
        draggable="true"
        (dragstart)="onDragStart($event, node)"
        (dragover)="onDragOver($event, node)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event, node)">
        
        <span class="caret" (click)="toggleCaret(node, $event)">
          @if (node.type === 'folder' && node.children && node.children.length > 0) {
            <i [ngClass]="node.isOpen ? 'fa-solid fa-caret-down' : 'fa-solid fa-caret-right'"></i>
          }
        </span>
        <span class="checkbox" (click)="toggleCheck(node, $event)">
          <i [ngClass]="getCheckboxIcon(node)"></i>
        </span>
        <span class="icon" [ngClass]="node.type === 'folder' ? 'folder-icon' : 'file-icon'">
          <i [ngClass]="getFolderIcon(node)"></i>
        </span>
        <span class="node-name">{{ node.name }}</span>
        
        <div class="node-actions">
          <span class="action-btn" title="Renomear" (click)="editNode(node, $event)">
            <i class="fa-solid fa-pencil"></i>
          </span>
          @if (node.type === 'folder') {
            <span class="action-btn" title="Adicionar subpasta" (click)="addNode(node, 'folder', $event)">
                <i class="fa-solid fa-folder-plus"></i>
            </span>
          }
          <span class="action-btn" title="Adicionar arquivo" (click)="addNode(node, 'file', $event)">
              <i class="fa-solid fa-plus"></i>
          </span>
          <span class="action-btn btn-delete" title="Excluir" (click)="deleteNode(node, $event)">
            <i class="fa-solid fa-minus"></i>
          </span>
        </div>
      </div>

      @if (node.type === 'folder' && node.isOpen && node.children && node.children.length > 0) {
        <div class="children-container">
          <ng-container *ngTemplateOutlet="treeNodeTemplate; context: { $implicit: node.children }"></ng-container>
        </div>
      }
    </div>
  }
</ng-template>